.page-header
  %h1= t('.title')

  %div{ng: {controller: 'MoviesCtrl'}}

    #movies_serch.panel.panel-default
      .panel-body
        .form-group
          %input.form-control{placeholder: t('.search_term.placeholder'), type: "text", 'ng-model' => 'filter.search_term'}

        .row
          .form-group.col-xs-6
            %label= t('.filter.min_vote')
            %select.form-control{ng: {model: 'filter.min_vote', options: "idx as rate for (idx, rate) in options.min_vote"}}

          .form-group.col-xs-6
            %label= t('.filter.available_since')
            %select.form-control{ng: {model: 'filter.available_since', options: "date.days as date.label for date in options.available_since"}}

    %table.table.table-condensed.movies

      %thead
        %tr
          %th
          %th{ng: {click: "sort_column('title')"}}
            = t('movies.title')
          %th.hidden-xs{ng: {click: "sort_column('available_since')"}}
            = t('movies.available_since')
          %th{ng: {click: "sort_column('information.vote_average')"}}
            = t('movie.information.vote_average')

      %tbody
        %tr.movie{dir: {paginate: 'movie in movies | orderBy:filter.sort_type:filter.sort_reverse | filter:{title: filter.search_term} | minVoting:filter.min_vote | sinceDays:filter.available_since | itemsPerPage:20'}}
          %td
            %button.btn.btn-info.btn-xs{ng: {if: 'movie.information'}, popover: {title: "{{movie.title}}", placement: 'right', trigger: 'focus'}, "uib-popover-template" => "movie.path"}
              = glyphicon 'info-sign'

            - if logged_in?
              %button.btn.btn-success.btn-xs{popover: {title: "Edit {{movie.title}}", placement: 'right'}, "uib-popover-template" => "movie.edit_path"}
                = glyphicon 'edit'
          %td
            %strong {{movie.title}}
          %td.hidden-xs
            {{movie.available_since | date:mediumDate}}
          %td
            .votes{ng: {if: 'movie.information.vote_count'}}
              .badge {{movie.information.vote_average | number:1}}
              %span.dont-wrap
                {{movie.information.vote_count}}
                = t('.vote_count')

            .no-votes.dont-wrap{ng: {if: 'movie.information.vote_count == 0'}}
              = t('.no_votes')

    %dir-pagination-controls
    #movie_information_popover
