.page-header
  %h1= t('.title')

  %div{ng: {controller: 'MoviesCtrl'}}

    #movies_serch.panel.panel-default
      .panel-body
        .form-group
          %input.form-control{placeholder: t('.search_term.placeholder'), type: "text", 'ng-model' => 'filter.search_term'}

        .form-group
          .row
            .col-md-6
              %select.form-control{ng: {model: 'filter.min_vote', options: "idx as rate for (idx, rate) in options.min_vote"}}

            .col-md-6
              %select.form-control{ng: {model: 'filter.available_since', options: "date.days as date.label for date in options.available_since"}}

    %table.table.table-condensed.movies

      %thead
        %tr
          %td
          %th{ng: {click: "sort_column('title')"}}
            = t('movies.title')
          %th{ng: {click: "sort_column('available_since')"}}
            = t('movies.available_since')
          %th{ng: {click: "sort_column('information.vote_average')"}}
            = t('movie.information.vote_average')

      %tbody
        %tr.movie{dir: {paginate: 'movie in movies | orderBy:filter.sort_type:filter.sort_reverse | filter:{title: filter.search_term} | minVoting:filter.min_vote | sinceDays:filter.available_since | itemsPerPage:20'}}
          %td
            %button.btn.btn-info.btn-xs{popover: {title: "{{movie.title}}", placement: 'right', trigger: 'focus'}, "uib-popover-template" => "movie.path"}
              %span.glyphicon.glyphicon-info-sign{'aria-hidden' => "true"}
          %td
            %strong {{movie.title}}
          %td
            {{movie.available_since | date:mediumDate}}
          %td
            .votes{ng: {if: 'movie.information.vote_count'}}
              .badge {{movie.information.vote_average}}
              {{movie.information.vote_count}}
              = t('.vote_count')

            .no-votes{ng: {if: 'movie.information.vote_count == 0'}}
              = t('.no_votes')

    %dir-pagination-controls
    #movie_information_popover
